
@font-face {
    font-family: Inter-font;
    src: url("assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
    font-weight: 100 900;
    font-stretch: 25% 150%;
}

:root {
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
    --line-height: 1.6;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter-font;
    font-size: 15px;
    background-color: var(--off-white);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

nav ul li a {
    text-decoration: none;
    color: var(--dark-grayish-blue);
    font-size: large;
    font-weight: 400;
}

nav ul li a:hover, nav ul li a:focus {
    color: var(--soft-red);
}


.container {
    margin: 48px 120px;
}

section {
    display: flex;
    gap: 2rem;
}

.intro-section {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.intro-section img {
    max-width: 100%;
}

.new-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--very-dark-blue);
    color: var(--off-white);
    padding: 18px 18px;
}

.text-container {
    display: flex;
    gap: 2rem;
}

h1 {
    color: var(--very-dark-blue);
    font-size: 56px;
    font-weight: 800;
    line-height: 1;
    flex: 1;
}

.desc {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.desc p {
    color: var(--dark-grayish-blue);
    line-height: var(--line-height);
}

button {
    background-color: var(--soft-red);
    color: var(--off-white);
    letter-spacing: 3px;
    font-weight: 700;
    text-align: center;
    padding: 16px 64px;
    border: none;
    align-self: flex-start;
    margin-top: auto;
}

button:hover, button:focus {
    background-color: var(--very-dark-blue);
    color: var(--off-white);
}

.new-section h2 {
    color: var(--soft-orange);
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 32px;
}

.new-section .subject {
    margin-bottom: 32px;
    flex: 1;
    position: relative;
}

.new-section h4 {
    font-weight: 800;
    font-size: large;
    color: var(--off-white);
}

.new-section p {
    margin-top: 16px;
    color: var(--dark-grayish-blue);
    line-height: var(--line-height);
}

.one::after, .two::after{
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--dark-grayish-blue);
    position: absolute;
    bottom: 0px;
    margin-bottom: -16px;
}

.subject h4:hover, .subject h4:focus {
    color: var(--soft-orange);
    cursor: pointer;
}

.articles {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    margin-top: 48px;
    max-width: 100%;
}

.card {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    flex-grow: 1;
    flex-basis: 33.33%;
    
}

.card img {
    flex: 1;
    max-width: 28%;
    
}

.card .info {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.info h3 {
    color: var(--grayish-blue);
    font-size: 28px;
}

.info h4 {
    color: var(--very-dark-blue);
    font-weight: 800;
}

.info p {
    color: var(--dark-grayish-blue);
    line-height: var(--line-height);
}

.info h4:hover, .info h4:focus {
    color: var(--soft-red);
    cursor: pointer;
}

.card:nth-child(2), .card:last-child {
    margin-left: 82px;
}


